<section id="settlersapp">
    
  <div class="spa-shell-head">
    <!--<div class="spa-shell-head-logo">
    </div>-->
    
    <!--<h1>Game Setup</h1>-->
    <header id="header">
      <div>
        <a href="#/">Game Setup</a>
        <a href="#/playersWith2Points">Show Players with 2 Points</a>
        <a href="#/allPlayers"> Show All Players</a>
        <a href="#/begin">Start the Game</a>
        </div>
    </header>
    
    
    <div class="spa-shell-head-acct"></div>
    <div class="spa-shell-head-search"></div>
    
  </div>
  <div class="spa-shell-main">
    <div class="spa-shell-main-nav">
    
    <section id="main">
      <ul id="intersections-list"></ul>
    </section>
    
    </div>
    <div class="spa-shell-main-content">

      <div id="player-container">
        <input id="new-player" placeholder="Player name" autofocus>
        <ul id="players-list"></ul>
      </div>

      <div id="dice-pan" style="border-style:solid;border-width:thin;height:100px;width:100px;position:fixed;background-color:white;">
        
        <!--Setting font-size:0 is a trick to eliminate space between images-->
        <div width="65" style="margin-left:5px;font-size:0;padding-top:10px">
          <img id="dieOne" src="../assets/images/dice_3.png" height="40" width="40">
          <img id ="dieTwo" src="../assets/images/dice_4.png" height="40" width="40" style="padding-left:10px">
        </div>
        <p style="font-size:.5em;line-height:100%;">
          By derivative work: PhJDie_Faces.png: Nanami Kamimura (Die_Faces.png)
          [<a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>],
          <a href="https://commons.wikimedia.org/wiki/File%3AAlea_1.png">via Wikimedia Commons</a>
        </p>
      </div>
      
      <div style="width: 550px; display: none;" id="gameBoardContainer" height="1200" width="1200">
      </div>
    
    </div>
  </div>
  <div class="spa-shell-foot">
    <section id="selectedIntersect"></section>
    
    <div id="game-mode">
      <button id="toggleIntersectSelectMode">Toggle Select Mode</button>
      <button id="toggleRoadSelectMode">Toggle Select Road</button>
      <button id="toggleHexSelectMode">Toggle Select Hex</button>
    </div>
    
    <div id="player-action-buttons">
      <button id="endTurn">End Turn</button>
      <button id="proposeTrade">Propose Trade</button>
      <button id="nextGamePhase">Next Game Phase (testing)</button>
      <button id="rollDice">Roll Dice</button>
    </div>

    <div id="active-player-properties">

    </div>
  </div>
  <div class="spa-shell-chat"></div>
  <div class="spa-shell-modal"></div>

</section>